data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch Lightning
lightning_logs/
checkpoints/
outputs/
kernels/
Extra_files/
data
datasetsnew/
__pycache__
logs
outputs
xai_outputs
file.py
l1.txt
layer.py
RAE_LCG_weights.pth
run_nfp_experiments_new.py
split.py
tsne.py
xai.py
*.out
logs_table*/
logs_table_new*/
logs_table_new_gto*/
logs_table2*/
logs_table5*/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
plantdisease.zip
plantdisease/
PlantVillage_split/
logs/
confusion_matrices/
checkpoints/
PlantVillage-Dataset/
PlantVillage/
data/
logs_table_new_gto
logs_table_new_plantvillage
logs_table1
logs_table2
logs_table3
logs_table4
logs_table5
Extra_files/
*.png
split.py
tsne.py
xai.py
data
checkpoints
xai_outputs

# Large data folders
newfolder/atrnet_data/ATRBench/Classification/
newfolder/atrnet_data/ATRBench/Classification/ResNet18/
newfolder/atrnet_data/ATRBench/Classification/ResNet18.zip

# Model artifacts and outputs
*.zip
*.pth
*.npy
*.ckpt
*.h5
*.log
*.onnx
*.pb

